.logo {
margin-top: 50px;
}

.headerTitle1 {
	display: block;
    font-size: 37px;
    padding-bottom: 30px;
    font-family: inherit;
font-weight: 500;
line-height: 1.1;
color: inherit;
}
.headerTitle2{
	display: block;
    color: #69F;
    font-size: 37px;
    line-height: 5px;
    font-weight: 200px;
}
.ullist{
	margin-top: 50px
}
.help-with_gap{
	margin-top: 80px
}
.middle_header{
	margin-top: 50px
}

.vl {
    border-left: 2px solid green;
    height: 130px;
    margin-left: 30px;

}

.employeeimglogo{
	 height: 130px;
     width: 60%;
     margin-top: 100px
}
.boxsubhead2{
	margin-top: 100px;
}
.hrimglogo{
	 height: 130px;
     width: 60%;
	margin-top: 80px;
}
.boxemployee{
	margin-top: 50px;
}
.managerlogo{
	 height: 130px;
     width: 60%;
	margin-top: 100px;
}
.expert_talk{
   font-size: 22px;
   margin-left: 470px;
   background-color:#6699FF;
   margin-bottom: 100px;

}